
h1, h3, li, p, .projects-links {
  font-family: "Indie Flower", cursive;
}

footer {
    color: black;
}

.body-projects {
  background-image: url('/images/beach.webp');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}
.homepage-background {
    background-image: url('/images/francesca-petringa--XrC5awSgkA-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}
.homepage-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
}
.homepage-name {
    margin-top: 400px;
    color: white;
    padding: 40px;
    padding-top: 45px;
    background: #88B2D4;
    opacity: 0.9;
    border-radius: 4px;
}
.container-home {
max-width: 600px;
display: block;
margin: 0 auto;
}
.home-link, .about-link, .projects-link {
    color: black;
}
.home-link:hover, .about-link:hover, .projects-link:hover   {
    color: white;
    text-decoration: none;
}
.projects-name {
  background-color: #EAC6AD;
  border: 2px solid white;
  max-width: 60%;
    padding:50px;
    opacity: 0.7;
}
.seaglass-projects{
    color: snow;
    padding-top: 10px;
}
.project-image {
border-radius: 10px;
}
.projects-links-wrapper {
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 10px;
    background: #EAC6AD
}
.projects-links {
    color: snow;
    text-decoration: none;
    font-size: 20pt;
}
.projects-links:hover {
    color: black;
    text-decoration: none;
}

.container-projects {
    max-width: 800px;
    display: block;
    margin: 0 auto;
    background: rgb(228, 200, 130);
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 4px;
}
.social-icon {
    font-size: 40pt;
    padding-right: 20px;
  }
  .instagram-icon {
    color: #e71c31
  }
  .twitter-icon {
    color: #09bdca;
  }
  .linkedin-icon {
    color: #6DDAE2
  }

  .footer-name{
    color: #09bdca;
    font-weight: bold;
  }
  
  .footer-link {
    color: rgb(241, 157, 171);
    font-weight: bold;
  }
  .footer-name:hover{
    color: rgb(241, 157, 171);
  }
  .footer-link:hover {
    color: #09bdca;
  }
.project-box {
  border: solid 2px white;
  border-radius: 3px;
  background: #EAC6AD;
  opacity: 0.8;
  margin-bottom: 50px;
  padding: 30px;

}
.project-box-image {
  float: right;
  border-radius: 30px;
}
.project-box-description-left {
  padding: 4px;
  float: left;
}
.project-box-description-right {
  padding: 4px;
  float: right;
}
.project-button {
  background: #6DDAE2;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  border: solid 2px white;
}

@media(max-width:576px) {
    img {
        margin-top: 10px;
    }
    li {
        font-size: 12pt;;
    }
    html h1 {
        font-size: 16pt;
    }
    .homepage-background {
      background-position: center;
    }
    .homepage-name {
      padding: 20px;
      margin-top: 400px;
    }
    .projects-name {
      padding:10px;
    }
  
}
@media(min-width:1000px) {
.icon-wrapper {
  display:inline;
  padding-bottom: 30px; 
}
}