h1,li, p {
    font-family: fantasy;
}
.homepage-background {
    background-image: url('/images/francesca-petringa--XrC5awSgkA-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}
.homepage-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
}
.homepage-name {
    margin-top: 400px;
    color: white;
    padding: 40px;
    background: #88B2D4;
    border-radius: 4px;
}
.container-home {
max-width: 600px;
display: block;
margin: 0 auto;
}
.home-link, .about-link, .projects-link {
    color: black;
}
.home-link:hover, .about-link:hover, .projects-link:hover   {
    color: white;
    text-decoration: none;
}
.projects-background {
    background: #71CEE1
}